/*SELECTOR UNIVERSAL SE USA PARA FORMATEAR LOS ESTILOS*/
*
{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
/*FIN DEL SELECTOR UNIVERSAL*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*BODY*/
body
{
    /*background:url(../img/index.jpg);*/
    background:url(../img/background.jpg);
    background-repeat: repeat;/*al hacer esto se notan los empates de la textura, para solucionar esto
    se hace lo que viene a continuacion*/

    /*background-position: top center;/*PARA QUE CENTRE LA IMAGEN DE GUIA*/
    height: 1080px;
}
/*FIN BODY*/

/*------------------------------------------------------------------*/
/*ESTILO DEL HEADER*/
header
{
	position:relative;
	margin: auto;
	width: 1000px;
	height: 83px;
	background:url(../img/cabecera.jpg);
    
	/*background:rgba(255,255,0,.5)*/
}

#logo
{
	position:absolute;
	top: 17px;
	left: 15px;
	width: 188px;
	height: 47px;
	/*background: rgba(0,0,255,.5);*/
	/*background: url(../img/logo.png);*/
}
/*FIN ESTILO HEADER*/
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/*NAV*/
nav
{
	position:relative;
	margin:auto;
	width: 1000px;
	height: 44px;
	/*background:rgba(255,0,0,.5);*/
	background: url("../img/nav.jpg");
	border-bottom: 1px solid #d4e8d6;

}

nav ul
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 500px;
	height: 44px;
	/*background: rgba(0,0,255,0.3);*/
}

nav ul li
{
	float: left;/*ESTO ES POSICION FLOTANTE DE IZQUIERDA A DERECHA*/
	width: 124px;
	line-height: 44px;/*UBICA A NIVEL VERTICAL A LA MISMA ALTURA DE LA BARRA DE NAVEGACION*/
	text-align: center;/*ALINEA EL TEXTO EN LA MITAD DEL BOTON DE LA NAVBAR*/
	font-size: 14px;
	color: white;/*COLOR DE FUENTE*/
	/*background: rgba(150,150,150,.5);*/
	border-right: 1px solid white; 
}
/*FIN NAV*/
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/*SLIDE*/
#slide
{
	position:relative;
	margin:auto;
	width: 1000px;
	height: 301px;
	/*background:rgba(0,255,0,.5);*/
}
/*FIN SLIDE*/
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/*BOTONERA SLIDE*/
#botoneraSlide
{
	position:relative;
	margin:auto;
	width: 1000px;
	height: 25px;
	border-bottom: 1px solid #929fb2;
	background:url("../img/barraSlide.jpg");
	/*background: rgba(0,0,255,.5);*/
}

#botoneraSlide ul{
	position: relative;/*Es una caja interna, pero se usó posicion 
	relativa para ayudarnos del margin auto para posicionarla ya que es una sola caja interna*/
	margin: auto;
	width: 100px;
	height: 26px;
	background: rgba(255,255,255,.5);
}

#botoneraSlide ul li{
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: black;
	border: solid 3px white;
	margin: 4px 2px;
}
/*FIN BOTONERA SLIDE*/
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/*CONTENIDO*/
section
{
	position:relative;
	margin:auto;
	width: 1000px;
	height: 299px;
	background: white;
	/*background: rgba(0,0,255,.3);*/
}

section ul li{
	float:left;
	width: 333px;
	height: 299px;
	/*background: rgba(150,150,0,0.5);*/
}

section ul li h1{
	margin:25px 27px;
	font-weight: 100;
	font-size: 25px;
}

section ul li p{
	margin:20px 30px;
	/*font-weight:100;*/
	font-size: 15px;
	text-align: justify
}

section ul li img{
	margin:2px 29px;
	width: 274px;
	height: 84px;
	background: silver;
}
/*FIN CONTENIDO */
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/*BOTTOM*/
#bottom
{
	position:relative;
	margin:auto;
	width: 1000px;
	height: 191px;
	background: #191d1f;
	/*background: rgba(0,255,0,0.3);*/
}


#bottom ul li
{
	float:left;
	width:250px;
	height: 191px;
	/*background: rgba(150,150,150,.5);*/
}
#bottom ul li h1
{
	margin:18px 20px;
	color: white;
 	font-size: 16px;
 	font-weight: 100;
}

#bottom ul li ol
{
	position:relative;
	top:12px;
	left:17px;
	width: 210px;
	height: 80px;
	/*background: rgba(255,0,0,0.5);*/
}

#bottom ul li ol li
{
	height: 20px;
	text-align: left;
	list-style: inside;/*Que los puntos del listado sean dentro*/
	font-size: 15px;
	color:white;
}

#bottom ul li img
{
	position:relative;
	top:12px;
	left:17px;
	width: 91px;
	height: 91px;
	border: 4px solid white;
	background: gray;
}

#bottom ul li ul
{
	position: relative;
	top:13px;
	left:13px;
	width: 200px;
	height: 40px;	
	/*background:rgba(255,0,0,.5); */
}

#bottom ul li ul li
{
	float:left;
	width: 36px;
	height: 36px;
	margin:2px 7px;
	border-radius: 100%;
	background: rgba(0,0,0,.5);
}
/*FIN BOTTOM*/
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/*FOOTER*/
footer
{
	position:relative;
	margin:auto;
	width: 1000px;
	height: 61px;
	line-height: 61px;
	text-align: center;
	font-size: 15px; 
	color:white;
	background: black;
	/*background: rgba(255,255,0,0.5);*/
}
/*FIN FOOTER*/
/*------------------------------------------------------------------*/